/* .custom-button {
    background-image: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.custom-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
} */


/* .custom-button {
    background-color: transparent;
    color: #e74c3c;
    padding: 10px 20px;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-weight: bold;
}

.custom-button:hover {
    background-color: #e74c3c;
    color: white;
} */


.main-button {
    background-color: #f39c12; /* Orange background */
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px; /* Rounded corners */
    border: 2px solid black; /* Black border */
    box-shadow: 0 4px #e67e22; /* Shadow for 3D effect */
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
}

.main-button:hover {
    background-color: #e67e22; /* Darker orange on hover */
    box-shadow: 0 6px #d35400;
    cursor: pointer;
}

.main-button:active {
    transform: translateY(2px); /* Pressed effect */
    box-shadow: 0 2px #d35400;
}


.statustext{
    font-weight: bold;
    color: white;
    min-width: 170px;
    max-height: 50px;
    text-align: center;
}

.button-size{
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.gametext{
    color: black;
}


.setbtn {
    min-width: 50px; /* Set desired width */
    min-height: 50px; /* Set desired height */
}

#player_1 {
    color: red;
    font-weight: bold;
    font-size: 50px;
}

#player_2 {
    color: blue;
    font-weight: bold;
    font-size: 50px;
}

